@import url("https://fonts.googleapis.com/css2?family=Anta&family=Poppins:wght@300&display=swap");

body {
  --tw-bg-opacity: 1;
  background-color: rgb(31 33 34 / var(--tw-bg-opacity)) !important;
  overflow-x: hidden;
  margin: 0;
  line-height: inherit;
}

h1 {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button {
  font-family: "Anta", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.button-login {
  font-family: "Anta", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.background {
  background: linear-gradient(
    106.89deg,
    rgba(192, 132, 252, 0.11) 15.73%,
    rgba(14, 218, 233, 0.41) 15.74%,
    rgba(121, 249, 129, 0.26) 56.49%,
    rgba(139, 70, 229, 0.4) 115.91%
  );
  filter: blur(118px);
  animation: animate 15s linear infinite;
  margin: auto;
  z-index: -10;
  inset: 0;
  position: fixed;
  width: 100vw;
  height: 27rem;
  max-width: 100%;
}

.btn-primary {
  background-color: #6ef96ecc;
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity)) !important;
  border-radius: 0.375rem;
  border: none;
  padding: 0px 10px;
  margin-left: 5px;
  transition: transform 0.3s ease-in-out;
}

.btn-primary:hover {
  transform: scale(1.1);
}

.font-weight {
  font-weight: 500 !important;
}

.button {
  background: #6ef96ecc;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.button:hover {
  color: #6ef96ecc;
}
.button:before,
.button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #6ef96ecc;
  transition: 400ms ease all;
  border-radius: 0.375rem;
}
.button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button:hover:before,
.button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.btn-active {
  border-top: 2px solid #6ef96ecc !important;
  border-bottom: 2px solid #6ef96ecc !important;
}

a {
  text-decoration: none !important;
  color: rgb(30 30 30 / var(--tw-text-opacity)) !important;
}

@keyframes animate {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}

.sala-cine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.silla {
  width: 50px;
  height: 50px;
  margin: 10px 10px;
  cursor: pointer;
}

.disponible {
  display: block;
}

.ocupada {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .button-login {
    font-size: 1.2em !important;
  }
}

.menu-btn {
  display: block;
  position: relative;
  width: 40px;
  height: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #6ef96ecc 0%, #00dd00cc 100%);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  cursor: pointer;
}

.menu-btn:hover:not(.open) {
  width: 30px;
}

.menu-btn:hover:before,
.menu-btn:hover:after {
  width: 40px;
}

.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 4px;
  left: 0;
  background: linear-gradient(45deg, #6ef96ecc 0%, #00dd00cc 100%);
  transition: all 0.5s;
}

.menu-btn:before {
  top: -12px;
}

.menu-btn:after {
  top: 12px;
}

.menu-btn.open {
  transform: translate(-50%, -50%) rotate(225deg);
}

.menu-btn.open:before,
.menu-btn.open:after {
  top: 0px;
}

.menu-btn.open:after {
  transform: rotate(90deg);
  width: 40px;
}

.navbar {
  flex-wrap: nowrap !important;
}

.navbar-toggler.collapsed:focus {
  color: transparent;
}

#navbar-cell {
  display: none;
}

/* SLIDER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.autoplay-progress span,
.swiper-button-next,
.swiper-button-prev {
  color: #6ef96ecc !important;
}

.autoplay-progress svg {
  stroke: #6ef96ecc;
}

.swiper-pagination-bullet-active {
  background-color: #6ef96ecc !important;
}
